# Excluir directorios de build y resultados de pruebas
**/bin/
**/obj/
**/TestResults/

# Configuraciones de IDE
.vs/
.vscode/

# Git y archivos de control de versiones
.git/

# Archivos innecesarios
*.md
*.sh
*.log
*.tmp

# Proyecto de tests (si no lo quieres en el build)
xUnitTest/
